{% extends 'layout.html' %}

{% block head %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/common.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/game.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular-animate.min.js"></script>
<script src="{{ url_for('static', filename='js/game.js') }}"></script>
{% endblock %}

{% block userinfo %}
<div class="signout-block">
    <button id="signout-button" class="button text"
    onclick="window.location.href='{{ url_for('auth_bp.Logout') }}';">Log Out</button>
</div>
{% endblock %}

{% block content %}
<div class="content-gameboard">
    <header class="header-placeholder"></header>
    <div class="deck-wrapper" ng-controller="{{ ngCtrl }}">
        <div class="deck-block player-deck counter-deck">
            <div class="game-info">
                <div class="token">
                </div>
            </div>
            <div class="cards">
                <div class="on-hand"></div>
                <div class="open"></div>
            </div>
        </div>
        <div class="deck-block center-deck">
            <div class="game-info">
                <div class="token">
                </div>
            </div>
            <div class="cards">
                <div ng-repeat="card in availCards()">

                </div>
            </div>
        </div>
        <div class="deck-block player-deck self-deck">
            <div class="game-info">
                <div class="token">
                </div>
            </div>
            <div class="cards">
                <div class="on-hand"></div>
                <div class="open"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
