{% extends 'layout.html' %}

{% block head %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/common.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/game.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular-animate.min.js"></script>
<script src="{{ url_for('static', filename='js/game.js') }}"></script>
{% endblock %}

{% block userinfo %}
<div class="signout-block">
    <button id="signout-button" class="button text"
    onclick="window.location.href='{{ url_for('auth_bp.Logout') }}';">Log Out</button>
</div>
{% endblock %}

{% block content %}
<div class="content-gameboard">
    <header class="header-placeholder"></header>
    <div class="dashboard-block">
        <div class="dashboard">

        </div>
    </div>
    <div class="dashboard-block">
        <div class="dashboard">

        </div>
    </div>
</div>
{% endblock %}
