{% extends 'layout.html' %}

{% block head %}
<link rel=icon href="{{ url_for('static', filename='img/cat-circle-50.gif') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/common.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/hello.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular-animate.min.js"></script>
<script src="{{ url_for('static', filename='js/hello.js') }}"></script>
{% endblock %}

{% block content %}
<div class="content-main">
    <div class="hello-banner">
        <div class="hello-info col">
            <div id="banner-title" class="title">Welcome to Ascension</div>
            <p id="banner-text" class="text">
                This is a little project for practice use. Anyway hope it works.
            </p>
        </div>
        <div class="signin-block col">
            <button id="signin-button" class="button text"
            onclick="window.location.href='{{ url_for('auth_bp.Login') }}';">Log In / Sign Up</button>
        </div>
    </div>
    <div class="col" ng-controller="{{ ngCtrl }}">
        <ul class="intro-list">
            <li ng-repeat="i in range(0, titleNum - 1)">
                <a class="title" ng-class="getClass(i)"
                href="" ng-click="flipHide(i)" ng-bind="getTitle(i)"></a>
                <div class="intro-description-box" ng-hide="getHide(i)">
                    <div class="intro-description text" ng-bind="getDescription(i)"></div>
                </div>
            </li>
        </ul>
    </div>
</div>
{% include 'footer.html' %}
{% endblock %}
