<!DOCTYPE html>
<html lang="en">
<head>
    <link rel=icon href="{{ url_for('static', filename='img/cat-circle-50.gif') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>

    {% block head %}{% endblock %}
</head>

<body ng-app={{ngApp}}>
    <header class="main-header">
        <div class="content-main">
            <a href="{{url_for('main_bp.Welcome')}}">
                <img class="home-shortcut-icon" src="{{ url_for('static', filename='img/cat-circle-150.gif') }}">
            </a>
            {% block userinfo %}{% endblock %}
        </div>
    </header>

    <div class="content-background">
        <img src="{{ url_for('static', filename='img/cherryblossom.jpg') }}">
    </div>
    
    {% block content %}{% endblock %}
</body>
</html>