.hello-banner {
  position: relative;
  top: 0;
  right: 0;
  width: 100%;
  padding: 5vw 0;
  margin: 0;
}

.hello-info {
  position: relative;
  display: block;
  margin-right: auto;
  width: 60%;
}

#banner-title {
  font-size: 3vw;
}

#banner-text {
  margin-top: 5px;
}

.signin-block {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 0;
}

#signin-button {
  position: relative;
  margin-top: auto;
  min-width: 180px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.intro-list {
  line-height: 2.0;
}

.intro-list a {
  text-decoration: none;
}

.intro-list .title:hover, .title-active-intro, .title-active-rules, .title-active-tips   {
  color: #dbffcc !important;
  cursor: pointer;
}

.intro-description-box {
  transition: all linear 0.2s;
  background: rgba(0, 0, 0, 0.6);
  height: 150px;
  overflow: hidden;
}

.intro-description {
  padding: 40px 40px;
}

.ng-hide {
  height: 0;
}
