.signout-block {
  position: absolute;
  bottom: 0;
  right: 80px;
  margin-bottom: 10px;
}

#signout-button {
  min-width: 180px;
}

.header-placeholder {
  z-index: -101;
}

.content-gameboard {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  padding: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.deck-wrapper {
  margin: 2vh auto;
  display: grid;
  grid-template-columns: (1, 3);
  justify-content: center;
  height: 85vh;
}

.deck-block {
  width: 95vw;
  height: 27vh;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: space-between;
}

.game-info {
  position: relative;
  top: 1vh;
  left: 1vw;
  width: 5vw;
  height: 25vh;
}

.token {
  width: 100%;
  padding-top: 100%;
  background: rgba(255, 0, 0, 0.5);
}

.open-cards {
  width: 85vw;
  height: 22vh;
  background: dodgerblue;
  margin: auto auto;
}

@media (min-width: 1800px) {
  .game-info {
    width: 90px !important;
  }
}

@media (max-width: 800px) {
  .game-info {
    width: 40px !important;
  }

  .open-cards {
    width: calc(90vw - 40px) !important;
  }
}