.title {
  color: #b2ff91;
  margin: 0;
  padding: 0;
  font-size: 6vw;
  font-weight: 600;
}

.text {
  color: #b2ff91;
  margin: 0;
  padding: 0;
  font-size: 3vw;
  font-weight: 360;
}

.row::after, .row::before {
  content: '';
  clear: both;
  display: table;
}

.main-header {
  width: 100%;
  height: calc(60px + 5vw);
  background: rgba(0, 0, 0, 0.6);
  top: 0px;
  z-index: 1;
}

.header-placeholder {
  width: 100%;
  height: calc(60px + 5vw);
  top: 0px;
  z-index: -1;
}

.content-wrapper {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.content-background {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.content-background img {
  min-width: 50%;
  min-height: 50%;
  max-width: none;
  max-height: none;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-30%, -30%);
  overflow: hidden;
}

.content-main {
  position: relative;
  width: 100%;
  max-width: 1200px;
  height: 1200px;
  margin: 0 auto;
  padding: 0 80px;
}

.hello-banner {
  position: relative;
  top: 0;
  right: 0;
  width: 100%;
  margin: 25px 0;
  padding: 0;
}

.hello-info {
  float: left;
  width: 45%;
  display: block;
}

.hello-info .title {
  font-size: 3vw;
}

.hello-info .text {
  font-size: 1.76vw;
  color: white;
}

.signin-block {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 0;
  margin-left: 8%;
  width: 40%;
  display: block;
  float: left;
}

.signin-button {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-footer {
  height: 300px;
  z-index: 1;
  background: rgba(255, 255, 255, 0.9);
}
