.title {
  color: #b2ff91;
  margin: 0;
  padding: 0;
  font-size: 6vw;
  font-weight: 900;
}

.text {
  color: white;
  margin: 0;
  padding: 0;
  font-size: 1.76vw;
  font-weight: 200;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media (max-width: 820px) {
  .col {
    position: relative !important;
    padding: 10px 0 !important;
    display: block !important;
    width: 100% !important;
  }

  .title, li.title, .hello-info.title {
    font-size: 6vw !important;
  }

  .text, .signin-block.text {
    font-size: 4vw !important;
  }
}

@media (max-width: 500px) {
  .title, li.title, .hello-info.title {
    font-size: 30px !important;
  }

  .text, .signin-block.text {
    font-size: 20px !important;
  }
}

@media (min-width: 1100px) {
  .main-header {
    height: 115px !important;
  }

  .title, li.title {
    font-size: 66px !important;
  }

  .hello-info.title {
    font-size: 33px !important;
  }

  .text .signin-block.text {
    font-size: 19.6px !important;
  }
}

.main-header {
  width: 100%;
  height: calc(60px + 5vw);
  background: rgba(0, 0, 0, 0.6);
  top: 0px;
  z-index: 1;
}

.header-placeholder {
  width: 100%;
  height: calc(60px + 5vw);
  top: 0px;
  z-index: -1;
}

.content-wrapper {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.content-background {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.content-background img {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  max-width: none;
  max-height: none;
  width: auto;
  height: auto;
  top: 30%;
  left: 10%;
  transform: translate(-35%, -30%);
  overflow: hidden;
}

.content-main {
  position: relative;
  width: calc(100% - 160px);
  max-width: 1200px;
  height: auto;
  min-height: calc(100vh - 60px - 5vw);
  margin: 0 auto;
  padding: 0 80px;
}

.hello-banner {
  position: relative;
  top: 0;
  right: 0;
  width: 100%;
  padding: 5vw 0;
  margin: 0;
}

.hello-info {
  position: relative;
  display: block;
  margin-right: auto;
  width: 60%;
}

#banner-title {
  font-size: 3vw;
}

#banner-text {
  margin-top: 5px;
}

.signin-block {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 0;
}

#signin-button {
  position: relative;
  margin-top: auto;
  min-width: 160px;

  border: none;
  background: #b2ff91;
  text-align: center;
  padding: 5px 10px;

  color: black !important;

  cursor: pointer;
}

#signin-button:hover, #sign-button:focus {
  background: #dbffcc;
}

ul {
  list-style-type: none;
  padding: 0;
}

.intro-list {
  line-height: 2.0;
}

.intro-list a {
  text-decoration: none;
}

.intro-list .title:hover, .title-active-intro, .title-active-rules, .title-active-tips   {
  color: #dbffcc !important;
  cursor: pointer;
}

.intro-description-box {
  transition: all linear 0.2s;
  background: rgba(0, 0, 0, 0.6);
  height: 150px;
  overflow: hidden;
}

.intro-description {
  padding: 40px 40px;
}

.ng-hide {
  height: 0;
}

.main-footer {
  position: relative;
  width: 100vw;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
}

.contact-list {
  position: relative;
  width: calc(100% - 160px);
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 80px;
  line-height: 1.5;
  color: #ff8fab !important;
  font-size: 15px;
}

