<!DOCTYPE html>
<html lang="en">
<head>
    <link rel=icon href="{{ url_for('static', filename='icon.png') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='hello.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='common.css') }}">
    <script src="https://ajax.googleapis.com/libs/angularjs/1.7.9/angular.min.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Asscension Hello</title>
</head>
<body id='hello_body'>
    <header class='main-header'>
    </header>

    <div class='content-wrapper'>
        <div class='content-background'>
            <img src='{{ url_for('static', filename='cherryblossom.jpg') }}'>
        </div>

        <div class='content-main'>
            <div class='hello-banner'>
                <div class='hello-info col'>
                    <h3 id='banner-title' class='title'>Welcome to Ascension</h3>
                    <p id='banner-text' class='text'>This is a little project for practice use. Anyway hope it works.</p>
                </div>
                <div class='signin-block col'>
                    <button id='signin-button' class='text' onclick="window.location.href='{{url_for('Login')}}';">Log In / Sign Up</button>
                </div>
            </div>
            <div class='col'>
                <ul class='intro-list'>
                    <li class='title' id='Intro'>Intro</li>
                    <li class='title' id='Rules'>Rules</li>
                    <li class='title' id='Tips'>Tips</li>
                </ul>
            </div>
        </div>

        <footer class='main-footer'>
        </footer>
    </div>
</body>
</html>
