<!DOCTYPE html>
<html lang="en">
<head>
    <link rel=icon href="{{ url_for('static', filename='cat-circle-50.gif') }}">
    <link rel=stylesheet type=text/css href="static/common.css">
    <link rel=stylesheet type=text/css href="static/hello.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular-animate.min.js"></script>
    <script src="static/hello.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Asscension Hello</title>
</head>
<body id="hello_body" ng-app="helloApp">
    <header class="main-header">
        <div class="content-main">
            <a href="{{url_for('Welcome')}}">
                <img class="home-shortcut-icon" src="{{ url_for('static', filename='cat-circle-150.gif') }}">
            </a>
        </div>
    </header>
    
    <div class="content-background">
        <img src="{{ url_for('static', filename='cherryblossom.jpg') }}">
    </div>

    <div class="content-main">
        <div class="hello-banner">
            <div class="hello-info col">
                <div id="banner-title" class="title">Welcome to Ascension</div>
                <p id="banner-text" class="text">
                    This is a little project for practice use. Anyway hope it works.
                </p>
            </div>
            <div class="signin-block col">
                <button id="signin-button" class="button text"
                onclick="window.location.href='{{ url_for('Login') }}';">Log In / Sign Up</button>
            </div>
        </div>
        <div class="col">
            <ul class="intro-list" ng-controller="helloController">
                <li id="Intro">
                    <a class="title" ng-class="hideIntro ? '' : 'title-active-intro'"
                    href="#" ng-click="hideIntro = !hideIntro">Intro</a>
                    <div class="intro-description-box" ng-hide="hideIntro">
                        <div class="intro-description text">
                            Ascension is ...<br>
                        </div>
                    </div>
                </li>
                <li id="Rules">
                    <a class="title" ng-class="hideRules ? '' : 'title-active-rules'"
                    href="#" ng-click="hideRules = !hideRules">Rules</a>
                    <div class="intro-description-box" ng-hide="hideRules">
                        <div class="intro-description text" ng-hide="hideRules">
                            Rules are ...
                        </div>
                    </div>
                </li>
                <li id="Tips">
                    <a class="title" ng-class="hideTips ? '' : 'title-active-tips'"
                    href="#" ng-click="hideTips = !hideTips">Tips</a>
                    <div class="intro-description-box" ng-hide="hideTips">
                        <div class="intro-description text" ng-hide="hideTips">
                            Tips are ...
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <footer class="main-footer">
        <ul class="contact-list">
            <li id="Email">Email: chenypress@gmail.com</li>
            <li id="Instagram">Instagram: cypress777</li>
        </ul>
    </footer>
</body>
</html>
