<!DOCTYPE html>
<html lang="en" ng-app="helloApp" ng-controller="helloController as helloCtr">
<head>
    <link rel=icon href="{{ url_for('static', filename='icon.png') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='hello.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='common.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular-animate.min.js"></script>
    <script src="{{ url_for('static', filename='hello.js') }}"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Asscension Hello</title>
</head>
<body id='hello_body'>
    <header class='main-header'>
    </header>

    <div class='content-wrapper'>
        <div class='content-background'>
            <img src="{{ url_for('static', filename='cherryblossom.jpg') }}">
        </div>

        <div class='content-main'>
            <div class='hello-banner'>
                <div class='hello-info col'>
                    <h3 id='banner-title' class='title'>Welcome to Ascension</h3>
                    <p id='banner-text' class='text'>This is a little project for practice use. Anyway hope it works.</p>
                </div>
                <div class='signin-block col'>
                    <button id='signin-button' class='text' onclick="window.location.href='{{ url_for('Login') }}';">Log In / Sign Up</button>
                </div>
            </div>
            <div class='col'>
                <ul class='intro-list'>
                    <li id='Intro'>
                        <a class='title title-true' href='#' ng-click="helloCtr.hideIntro = !helloCtr.hideIntro">Intro</a>
                        <div class='intro-description-box' ng-hide="helloCtr.hideIntro">
                            <div class='intro-description text'>
                                Ascension is ...<br>
                            </div>
                        </div>
                    </li>
                    <li id='Rules'>
                        <a class='title title-true' href='#' ng-click="helloCtr.hideRules = !helloCtr.hideRules">Rules</a>
                        <div class='intro-description-box' ng-hide="helloCtr.hideRules">
                            <div class='intro-description text' ng-hide="helloCtr.hideRules">
                                Rules are ...
                            </div>
                        </div>
                    </li>
                    <li id='Tips'>
                        <a class='title title-true' href='#' ng-click="helloCtr.hideTips = !helloCtr.hideTips">Tips</a>
                        <div class='intro-description-box' ng-hide="helloCtr.hideTips">
                            <div class='intro-description text' ng-hide="helloCtr.hideTips">
                                Tips are ...
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <footer class='main-footer'>
            <ul class='contact-list'>
                <li id='Email'>Email: chenypress@gmail.com</li>
                <li id='Instagram'>Instagram: cypress777</li>
            </ul>
        </footer>
    </div>
</body>
</html>
