<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Asscension Login</title>
    <style>
        label, input, button {
            margin: 8px;
        }
    </style>
</head>
<body>
    <form action='{{url_for('Login')}}' method="POST">
        <h2>Ascension Login</h2>
        <label for="username">Username:</label>
        <input type="text" name="username" id="username">
        <br>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password">
        <br>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
          <strong>{{message}}</strong>
          {% endfor %}
        <br>
        {% endif %}
        {% endwith %}
        <button type=submit>Log in</button>
    </form>
    <br>
    <br>
    <label for="signup">Not a member?</label>
    <button type="button" name="signup" onclick="window.location.href='{{url_for('Signup')}}';">Sign up</button>
</body>
</html>
